#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Mode Terang */
.light {
  background-color: #ffffff;
  color: #000000;
}

.light .loading, .light .typing {
  color: #4c51bf;
}

.light .card {
  background-color: #f9f9f9; /* Warna kartu */
}

.light .read-the-docs {
  color: #888;
}

/* Mode Gelap */
.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark .loading, .dark .typing {
  color: #4c51bf;
}

.dark .card {
  background-color: #2d2d2d; /* Warna kartu */
}

.dark .read-the-docs {
  color: #aaa;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

/* App.css */
.loading {
  font-size: 1.5rem;
  animation: pulse 1s infinite;
}

.typing {
  font-size: 1.5rem;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes loadingAnimation {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.6;
  }
  66% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typingAnimation {
  0%, 100% {
    content: "Mengetik.";
  }
  33% {
    content: "Mengetik..";
  }
  66% {
    content: "Mengetik...";
  }
}
